body {
  background-color: #232f3f;
}

div[class*="black-blue"] {
  background-color: #232f3f;
}

div[class*="dark-blue"] {
  background-color: #324358;
}

section[class*="black-blue"] {
  background-color: #232f3f;
}

nav[class*="dark-blue"] {
  background-color: #324358;
}

nav[class*="dark-blue"] a {
  color: #fff;
}

nav[class*="dark-blue"] a[class*="active"] {
  color: #fff !important;
}

footer[class*="dark-blue"] {
  background-color: #324358;
}

#popupOverlay {
  display: none;
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond semi-transparente */
  z-index: 1000; /* Assure que le popup est au-dessus du reste du contenu */
}

/* Style pour le contenu du popup */
#popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #324358;
  border-radius: 5px;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto; /* Permet de faire défiler le contenu si nécessaire */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#myCarousel {
  margin-top: -100px;
  margin-bottom: 90px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40%;
}

@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 210px;
    width: 40%;
  }

  .stade-img {
    margin-top: 10px;
  }
}
